@model IEnumerable<GestaoClinicaEstetica.Domain.Entidades.Clinica>


<div class="col-xs-12 col-md-12 col-sm-12 listagem-topo">
    <p class="listagem-titulo">Dados da Clinica</p>
</div>

<div class="row listagem-botoes">
    <div class="col-xs-9 col-sm-9 col-md-9 text-left">
        <div class="col-xs-10 col-sm-10 col-md-10 input-search">
            <input type="text" class="form-control" name="txtPesquisarClinica" value="" />
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 group-icons-search">
            <a class="icon-button icon-search" data-idTable="ClinicaLista" data-nameInput="txtPesquisarClinica" data-toggle="tooltip" title="Pesquisar" onclick="PesquisarDataTable(this)">
                <i class="fa fa-search"></i>
            </a>
            <a class="icon-button icon-clear" data-idTable="ClinicaLista" data-nameInput="txtPesquisarClinica" data-toggle="tooltip" title="Limpar Pesquisa" onclick="LimparPesquisaDataTable(this)">
                <i class="fa fa-times"></i>
            </a>
        </div>

    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 text-right">

    </div>

</div>


<div class="col-xs-12 col-md-12 col-sm-12 listagem-conteudo">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <table class="table table-striped hover" id="ClinicaLista">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        CNPJ
                    </th>
                    <th>
                        Telefone Fixo
                    </th>
                    <th>
                        Telefone Celular
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cnpj)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefoneFixo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefoneCelular)
                        </td>
                        <td align="center">
                            <a class="btn-link icon-acao icon-acao-editar" href="@Url.Action("Edit", new { id = item.Id })" data-toggle="tooltip" title="Editar"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                }
            </tbody>


        </table>

    </div>
</div>