@model GestaoClinicaEstetica.Domain.Entidades.Especialidade

<div class="col-xs-12 col-md-12 col-sm-12 formulario-topo">
    <p class="listagem-titulo">Especialidades</p>
</div>

<div class="row formulario-botoes">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="col-xs-3 col-sm-3 col-md-3 text-left">
            <a class="btn botao-acao" href="@Url.Action("Index")"><i class="fa fa-undo"></i> Voltar</a>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 text-right">
            <a class="btn botao-acao botao-acao-salvar" onclick="SalvarFormulario()"><i class="fa fa-save"></i> Salvar</a>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12 col-sm-12 formulario-conteudo">
    <div class="col-xs-12 col-md-12 col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-inline">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.DataCadastro)
                @Html.HiddenFor(model => model.UsuarioCadastro)
                @Html.HiddenFor(model => model.DataAlteracao)
                @Html.HiddenFor(model => model.UsuarioAlteracao)

                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                    <label class="control-label label-obrigatorio">Descrição</label>
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6 col-sm-6">
                    <label class="control-label label-obrigatorio">Tipo de Atendimento</label>
                    @Html.EnumDropDownListFor(model => model.TipoAtendimento, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoAtendimento, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6 col-sm-6">
                    <label class="control-label label-obrigatorio">Tempo de Atendimento Padrão</label>
                    @Html.EditorFor(model => model.TempoAtendimentoPadrao, new { htmlAttributes = new { @class = "form-control time" } })
                    @Html.ValidationMessageFor(model => model.TempoAtendimentoPadrao, "", new { @class = "text-danger" })
                </div>

            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
