@model GestaoClinicaEstetica.Domain.Entidades.Profissional

<div class="col-xs-12 col-md-12 col-sm-12 formulario-topo">
    <p class="listagem-titulo">Profissionais</p>
</div>

<div class="row formulario-botoes">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="col-xs-3 col-sm-3 col-md-3 text-left">
            <a class="btn botao-acao" href="@Url.Action("Index")"><i class="fa fa-undo"></i> Voltar</a>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 text-right">
            <a class="btn botao-acao botao-acao-salvar" onclick="SalvarFormulario()"><i class="fa fa-save"></i> Salvar</a>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12 col-sm-12 formulario-conteudo">
    <div class="col-xs-12 col-md-12 col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-inline">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.DataCadastro)
                @Html.HiddenFor(model => model.UsuarioCadastro)
                @Html.HiddenFor(model => model.DataAlteracao)
                @Html.HiddenFor(model => model.UsuarioAlteracao)

                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                    <label class="control-label label-obrigatorio">Nome</label>
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-6 col-md-6 col-sm-6">
                    <label class="control-label label-obrigatorio">CPF</label>
                    @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control cpf" } })
                    @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-6 col-md-6 col-sm-6">
                    <label class="control-label label-obrigatorio">Data de Nascimento</label>
                    @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control date" } })
                    @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                    <label class="control-label">Endereço</label>
                    @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-5 col-md-5 col-sm-5">
                    <label class="control-label">Bairro</label>
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-5 col-md-5 col-sm-5">
                    <label class="control-label">Cidade</label>
                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-2 col-md-2 col-sm-2">
                    <label class="control-label">UF</label>
                    @Html.EditorFor(model => model.Uf, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Uf, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-4 col-md-4 col-sm-4">
                    <label class="control-label">CEP</label>
                    @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control cep" } })
                    @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-4 col-md-4 col-sm-4">
                    <label class="control-label">Telefone Fixo</label>
                    @Html.EditorFor(model => model.TelefoneFixo, new { htmlAttributes = new { @class = "form-control phone-fixo" } })
                    @Html.ValidationMessageFor(model => model.TelefoneFixo, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-4 col-md-4 col-sm-4">
                    <label class="control-label label-obrigatorio">Celular</label>
                    @Html.EditorFor(model => model.TelefoneCelular, new { htmlAttributes = new { @class = "form-control phone-cel" } })
                    @Html.ValidationMessageFor(model => model.TelefoneCelular, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                    <label class="control-label label-obrigatorio">E-mail</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

            </div>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
