@model IEnumerable<GestaoClinicaEstetica.Domain.Entidades.Profissional>

<div class="col-xs-12 col-md-12 col-sm-12 listagem-topo">
    <p class="listagem-titulo">Profissionais</p>
</div>

<div class="row listagem-botoes">
    <div class="col-xs-9 col-sm-9 col-md-9 text-left">
        <div class="col-xs-10 col-sm-10 col-md-10 input-search">
            <input type="text" class="form-control" name="txtPesquisarProfissional" value="" />
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 group-icons-search">
            <a class="icon-button icon-search" data-idTable="ProfissionaisLista" data-nameInput="txtPesquisarProfissional" data-toggle="tooltip" title="Pesquisar" onclick="PesquisarDataTable(this)">
                <i class="fa fa-search"></i>
            </a>
            <a class="icon-button icon-clear" data-idTable="ProfissionaisLista" data-nameInput="txtPesquisarProfissional" data-toggle="tooltip" title="Limpar Pesquisa" onclick="LimparPesquisaDataTable(this)">
                <i class="fa fa-times"></i>
            </a>
        </div>

    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 text-right">
        <a class="btn botao-acao" href="@Url.Action("Create", "Profissionais")">
            <i class="fa fa-plus"></i> Incluir Profissional
        </a>
    </div>

</div>


<div class="col-xs-12 col-md-12 col-sm-12 listagem-conteudo">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <table class="table table-striped hover" id="ProfissionaisLista">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Telefone Fixo
                    </th>
                    <th>
                        Telefone Celualr
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefoneFixo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefoneCelular)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>
