<div class="col-xs-12 col-sm-12 col-md-12 home-information">

    <div class="col-xs-12 col-md-12 col-sm-12 formulario-topo text-right">
        <p class="titulo-home-info"><i class="fa fa-exclamation"></i> Informações importantes</p>
    </div>

    <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="panel panel-primary" style="width: 80%">
                <div class="panel-heading text-center"><i class="fa fa-calendar-check-o fa-3x"></i></div>
                <div class="panel-body text-center">
                    <p class="number-indicator-home">@ViewBag.QtdeConsultasHoje</p>
                    <span class="text-primary">Consultas hoje</span>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="panel panel-warning" style="width: 80%">
                <div class="panel-heading text-center"><i class="fa fa-users fa-3x"></i></div>
                <div class="panel-body text-center">
                    <p class="number-indicator-home">@ViewBag.QtdeClientesAtivos</p>
                    <span class="text-warning">Clientes ativos</span>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="panel panel-success" style="width: 80%">
                <div class="panel-heading text-center"><i class="fa fa-money fa-3x"></i></div>
                <div class="panel-body text-center" ">
                    <p class="number-indicator-home">R$ @ViewBag.VlrReceberHoje</p>
                    <span class="text-success">A receber hoje</span>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-md-12 col-sm-12 formulario-topo text-right">
        <p class="titulo-home-info"><i class="fa fa-tasks"></i> Tarefas do dia</p>
    </div>

    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-calendar-check-o"></i> Agenda do dia</div>
                <div class="panel-body">
                    @if (ViewBag.ListaAgendaHoje.Count == 0)
                    {
                        <span class="text-info"><i class="fa fa-exclamation"></i> Não existem consultas agendadas em aberto hoje!</span>
                    }
                    <ul class="list-group">
                        @foreach (var item in ViewBag.ListaAgendaHoje)
                        {
                            <li class="list-group-item">
                                <a class="item-home-click" onclick="modalConsulta.visualizarEvento(@item.Id)">
                                    <span class="text-primary">(@item.DataInicio.ToString("dd/MM/yyyy HH:mm")) @item.Cliente.Nome </span> <br />
                                    <span class="text-warning">@item.Especialidade.Descricao </span> - <span class="text-warning">@item.Profissional.Nome</span>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading"><i class="fa fa-money"></i> Pagamentos a receber hoje</div>
                <div class="panel-body">
                    @if (ViewBag.ListaRecebimentoHoje.Count == 0)
                    {
                        <span class="text-info"><i class="fa fa-exclamation"></i> Não existem recebimentos em aberto para hoje!</span>
                    }

                    <ul class="list-group">
                        @foreach (var item in ViewBag.ListaRecebimentoHoje)
                        {
                            <li class="list-group-item">
                                <a class="item-home-click" onclick="modalServico.receberServico(@item.Id)">
                                    <span class="text-primary">(R$ @item.ValorDevido) @item.Cliente.Nome </span> <br />
                                    <span class="text-warning">@item.Especialidade.Descricao </span> - <span class="text-warning">@item.Profissional.Nome</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>

@Html.Partial("~/Views/Agenda/_MarcarConsulta.cshtml")
@Html.Partial("~/Views/Agenda/_VisualizarEvento.cshtml")
@Html.Partial("~/Views/Agenda/_ModalAniversariante.cshtml")
@Html.Partial("~/Views/Financeiro/_ModalReceberParcela.cshtml")
@Html.Partial("~/Views/Presenca/_ModalIndicarPresenca.cshtml")
@Html.Partial("~/Views/Atendimento/_ModalAtendimento.cshtml")