<div class="col-xs-12 col-md-12 col-sm-12 formulario-topo">
    <p class="listagem-titulo">Receber pagamento</p>
</div>


<div class="col-xs-12 col-md-12 col-sm-12 formulario-conteudo">
    <div class="col-xs-12 col-md-12 col-sm-12">

        <input type="hidden" name="Id" value="" />
        <input type="hidden" name="DataCadastro" value="" />
        <input type="hidden" name="UsuarioCadastro" value="" />
        <input type="hidden" name="DataAlteracao" value="" />
        <input type="hidden" name="UsuarioAlteracao" value="" />

        <div class="row col-xs-12 col-md-12 col-sm-12">
            <div class="form-group col-xs-9 col-md-9 col-sm-9">
                <label class="control-label">Selecione um cliente:</label>
                <select class="form-control" name="CodigoCliente" id="CodigoClienteRecebimento">
                    <option value=""></option>
                    @foreach (var item in ViewBag.ListaClientes)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group col-xs-3 col-md-3 col-sm-3 botao-pesquisar">
                <a class="form-control btn botao-acao" onclick="financeiro.recuperarDadosRecebimento()" name="PesquisarEspecialidades">Pesquisar</a>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-sm-12 hidden" id="groupParcelasReceber">
            <div class="col-xs-12 col-md-12 col-sm-12 text-right">
                <a class="btn btn-primary" onclick="modalAgendarPagto.agendarPagamento()" name="btnAgendarPagamento"><i class="fa fa-calendar-check-o"></i> Agendar pagamentos</a>
                <a class="btn btn-success" onclick="modalServico.receberPagamentoAvulso()" name="btnReceberPagamento"><i class="fa fa-dollar"></i> Receber Serviço Avulso</a>
            </div>


            <div class="col-xs-12 col-md-12 col-sm-12">
                <table class="table table-striped hover" id="RecebimentoCliente" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Serviço
                            </th>
                            <th>
                                Data Venc.
                            </th>
                            <th>
                                Vlr Devido
                            </th>
                            <th>
                                Forma Pagto
                            </th>
                            <th>
                                Situação
                            </th>
                            <th></th>
                            <th class="hidden">Codigo Recebimento</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>

    </div>

</div>

@Html.Partial("~/Views/Financeiro/_ModalReceberParcela.cshtml")
@Html.Partial("~/Views/Financeiro/_ModalAgendarPagamentos.cshtml")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}