@model IEnumerable<GestaoClinicaEstetica.Domain.Entidades.Servico>

<div class="col-xs-12 col-md-12 col-sm-12 listagem-topo">
    <p class="listagem-titulo">Serviços</p>
</div>

<div class="row listagem-botoes">
    <div class="col-xs-9 col-sm-9 col-md-9 text-left">
        <div class="col-xs-10 col-sm-10 col-md-10 input-search">
            <input type="text" class="form-control" name="txtPesquisarServico" value="" />
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 group-icons-search">
            <a class="icon-button icon-search" data-idTable="ServicosLista" data-nameInput="txtPesquisarServico" data-toggle="tooltip" title="Pesquisar" onclick="PesquisarDataTable(this)">
                <i class="fa fa-search"></i>
            </a>
            <a class="icon-button icon-clear" data-idTable="ServicosLista" data-nameInput="txtPesquisarServico" data-toggle="tooltip" title="Limpar Pesquisa" onclick="LimparPesquisaDataTable(this)">
                <i class="fa fa-times"></i>
            </a>
        </div>

    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 text-right">
        <a class="btn botao-acao" href="@Url.Action("Create", "Servicos")">
            <i class="fa fa-plus"></i> Incluir Serviço
        </a>
    </div>

</div>


<div class="col-xs-12 col-md-12 col-sm-12 listagem-conteudo">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <table class="table table-striped hover" id="ServicosLista">
            <thead>
                <tr>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Valor
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorServico)
                        </td>
                        <td align="center">
                            <a class="btn-link icon-acao icon-acao-editar" href="@Url.Action("Edit", new { id = item.Id })" data-toggle="tooltip" title="Editar"><i class="fa fa-pencil"></i></a>
                            <a class="btn-link icon-acao icon-acao-deletar" href="@Url.Action("Delete", new { id = item.Id })" data-toggle="tooltip" title="Excluir"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

